# Python
backend/venv/
backend/__pycache__/
backend/*.sqlite3
backend/db.sqlite3
backend/.env

# Python cache
*.pyc
*.pyo

# Node
frontend/node_modules/

# Next
frontend/.next/

# VSCode
.vscode/

# Logs
*.log

# Environment
.env

# Mac
.DS_Store

# Windows
Thumbs.db